.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px; /*2*/
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px; /*3*/
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block; /*4*/
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block; /*4*/
    vertical-align: top; /*4*/
    margin-left: 15px; /*5*/
    padding-right: 20px; /*6*/
    padding-left: 10px; /*7*/
    padding-top: 10px; /*7*/
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block; /*1*/
    margin: 7px; /*7*/
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 7px; /*7*/
    padding-right: px; /*8*/
}

